.container
{
    color: white;
    font-weight: lighter;

    display: flex;
    flex-direction: column;

    width: 100%;
    letter-spacing: 2px;

    nav
    {
        display: flex;
        width: 100%;
        height: 56px;
        background-color: #A5682C;
        align-items: center;
        
        font-size: 15px;


        .btn-nav
        {
            width: 160px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .1s ease;
        }

        .btn-nav:hover
        {
            background-color: #925c25;
        }

        .btn-selected
        {
            background-color: #BB8045 !important;
        }
    }

    .mainpage
    {
        margin-left: -1px;
        position: absolute;
        width: 100%;
        height: 1024px;
        z-index: -3;

        .menu-bg
        {
            position: absolute;
            width: calc(100% + 3px);
            height: 1024px;
            background-image: url('./../imgs/menu/backgrounds/bg1.png');
            border: none;
            z-index: -2;
        }
    
        .selection-menu
        {
            position: absolute;
            width: 100%;
            right: 0;
            z-index: -1;
    
            display: flex;
            justify-content: end;
            align-items: center;
    
            .rotated-panel
            {
                transform: rotateZ(15deg);
                width: 60%;
                height: 2048px;
                background-color: #fef8ec;
                right: 0;

                box-shadow: 0 0 9.6px 6px #00000080;

            }
        }

        .text-panel
        {
            position: absolute;
            width: 47.5%;
            right: 0;
            z-index: -1;

            .game-name
            {
                text-align: center;
                color: #555353;
                margin-top: 220px;

                font-size: 38px;
                font-weight: bold;
            }

            .btns
            {
                text-align: center;
                color: #555353;
                margin-top: 80px;

                font-size: 28px;
            }

            .f-btn
            {
                margin-top: 180px;
            }
        }
    }

    .undernav, .footer
    {
        width: 100%;
        height: 20px;
        background-color: #38788F;
    }

    .footer
    {
        position: absolute;
        bottom: 0;

        text-align: end;
        
        p
        {
            color: rgba(255, 255, 255, 0.5);

            margin-right: 20px;
        }
    }
}