<div class="container">

  <nav>
    <div class="btn-nav">
      <button (click)="toMenu()"><</button>
    </div>
    <p>Searching a Server</p>
  </nav>

  <div class="undernav"></div>
  
  <div class="server-list-container">

    <div class="server-list-inner">
      <div class="server-title">
        <div></div>
        <p class="page-title">Server List</p>
        <button>
          U
        </button>
      </div>
      <div class="server-display" *ngIf="lobbyData; else noLobby">
        <app-lobby-item *ngFor="let lobby of lobbyData"  [playerName]="lobby.lobby_name" [playerCount]="lobby.users.length" (click)="joinGame(lobby.game_id)" class="lobby-item"></app-lobby-item>
      </div>
      <ng-template #noLobby>
        <p style="text-align: center; color: white;">There is no lobby active.</p>
      </ng-template>
    </div>
  </div>

  <app-menu-footer></app-menu-footer>
</div>
