<div class="container">

    <nav>
        <div class="btn-nav">
            <button (click)="toMenu()"><</button>
        </div>
        <p>Searching a Server</p>
    </nav>

    <div class="undernav"></div>
    
    <div class="server-list-container">
        <div class="server-list-inner">
            <p class="page-title">Server List</p>
            <div class="server-display">


                <div class="lobby-container">
                    <div class="lobby-owner">
                        <img class="lobby-head" src="./../../../assets/imgs/search_lobby/unknown_head.png">
                        <p>%name%'s Lobby</p>
                    </div>

                    <p class="lobby-counter">0/3</p>

                </div>

                <div class="lobby-container">
                    <div class="lobby-owner">
                        <img src="" alt="">
                        <p>%name%'s Lobby</p>
                    </div>

                    <p class="lobby-counter">0/3</p>

                </div>

                <div class="lobby-container">
                    <div class="lobby-owner">
                        <img src="" alt="">
                        <p>%name%'s Lobby</p>
                    </div>

                    <p class="lobby-counter">0/3</p>

                </div>

                <div class="lobby-container">
                    <div class="lobby-owner">
                        <img src="" alt="">
                        <p>%name%'s Lobby</p>
                    </div>

                    <p class="lobby-counter">0/3</p>

                </div>

                <div class="lobby-container">
                    <div class="lobby-owner">
                        <img src="" alt="">
                        <p>%name%'s Lobby</p>
                    </div>

                    <p class="lobby-counter">0/3</p>

                </div>

                <div class="lobby-container">
                    <div class="lobby-owner">
                        <img src="" alt="">
                        <p>%name%'s Lobby</p>
                    </div>

                    <p class="lobby-counter">0/3</p>

                </div>

                <div class="lobby-container">
                    <div class="lobby-owner">
                        <img src="" alt="">
                        <p>%name%'s Lobby</p>
                    </div>

                    <p class="lobby-counter">0/3</p>

                </div>


            </div>
        </div>
    </div>

    <app-menu-footer></app-menu-footer>
</div>