<div class="container">
    <div class="mainpage">
        <img alt="" class="menu-bg">
        <div class="selection-menu">
            <div class="rotated-panel">
            </div>
        </div>
        <div class="text-panel">
            <p class="game-name">Growsseth Board</p>
            <button class="btns f-btn" (click)="toCreateGame()">CREATE GAME</button>
            <p class="btns">SEARCH GAME</p>
            <p class="btns">JOIN RANDOM</p>
        </div>
    </div>

    <nav>
        <div class="btn-nav btn-selected">
            <p>Home</p>
        </div>
        <div class="btn-nav">
            <p>Options</p>
        </div>
        <div class="btn-nav">
            <p>Leave</p>
        </div>
    </nav>
    <div class="undernav"></div>
    <div class="footer">
        <p>Pre-Alpha {{gameVersion}}</p>
    </div>
</div>

