<div class="container">
    <div class="mainpage">
        <img alt="" class="menu-bg">
        <div class="selection-menu">
            <div class="rotated-panel">
            </div>
        </div>
        <div class="text-panel">
            <p class="game-name">Growsseth Board</p>
            <div class="btn-list">
                <button class="btns f-btn" (click)="toCreateGame()">CREATE GAME</button>
                <button class="btns" (click)="toSearch()">SEARCH GAME</button>
                <button class="btns" (click)="toRandom()">JOIN RANDOM</button>
            </div>
        </div>
    </div>

    <app-menu-nav></app-menu-nav>

    <div class="undernav"></div>
    
    <app-menu-footer></app-menu-footer>
</div>

