<div class="container">
    <div class="mainpage">
        <img alt="" class="menu-bg">
        <div class="selection-menu">
            <div class="rotated-panel">
            </div>
        </div>
        <div class="text-panel">
            <p class="game-name">Growsseth:<br>The Board Game</p>
            <div class="btn-list">
                <div class="btns f-btn">
                    <button (click)="toCreateGame()">CREATE GAME</button>
                    <div class="flexer">
                        <div class="selected"></div><img src="../../../assets/test.png" alt=""><div class="selected"></div>
                    </div>
                </div>
                <div class="btns"><button (click)="toSearch()">SEARCH GAME</button>
                    <div class="flexer">
                        <div class="selected"></div><img src="../../../assets/test.png" alt=""><div class="selected"></div>
                    </div>
                </div>
                <div class="btns"><button (click)="toRandom()">JOIN RANDOM</button>
                    <div class="flexer">
                        <div class="selected"></div><img src="../../../assets/test.png" alt=""><div class="selected"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-menu-nav></app-menu-nav>

    <div class="undernav"></div>
    
    <app-menu-footer></app-menu-footer>
</div>

